body {
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
}

.list-table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    text-shadow: 1px 1px 0 #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    border-collapse:collapse;
    width:100%;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.list-table h1 {
    font-size:revert;
}

.list-table th {
    font-weight:bold;
    font-size:larger;
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.list-table th:first-child{
    text-align: left;
    padding-left:20px;
}

.list-table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}

.list-table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}

.list-table tr{
    text-align: center;
    font-size:12px;
    padding-left:10px;
}

.list-table tr td:first-child{
    text-align: left;
    padding-left:10px;
    border-left: 0;
}

.list-table tr td {
    padding:10px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

.list-table tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.list-table tr:last-child td{
    border-bottom:0;
}

.list-table tr:last-child td:first-child{
    -moz-border-radius-bottom-left:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}

.list-table tr:last-child td:last-child{
    -moz-border-radius-bottom-right:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}

.list-table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}

.list-table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}

.list-table a:active,
.list-table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}