<!--suppress HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="eng">

<head>
    <title>Сервис отправки почты адресантам</title>
    <div th:fragment="header-reminder">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../static/css/styles.css"/>
    </div>
</head>

<body>
<div th:fragment="header-nav">

    <nav class="navbar navbar-inverse">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Destination reminder</a>
            </div>

            <div sec:authorize="isAnonymous()">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/login}">Войти</a>
                </div>
            </div>

            <div sec:authorize="isAuthenticated()">
                <div class="navbar-header">
                    <a th:href="@{/destinations}">Адресанты</a>
                </div>

                <div class="navbar-header">
                    <a th:href="@{/destination/subscribe}">Зарегистрировать</a>
                </div>

                <div class="navbar-header">
                    <a th:href="@{/logout}">Выйти</a>
                </div>
            </div>

        </div>
    </nav>

</div>

</body>
</html>