<html xmlns:th="http://www.thymeleaf.org" lang="eng">

<head>
    <title>Сервис отправки почты адресантам</title>
    <div th:fragment="header-reminder">
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../static/css/styles.css" />
        <script type="text/javascript" th:src="@{/js/websocket.js}"></script>
    </div>
</head>

<body>
<div th:fragment="header-nav">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Destination reminder</a>
            </div>
        </div>
    </nav>

</div>

</body>
</html>