<!DOCTYPE HTML>
<!--suppress HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org" lang="eng">

<!--suppress HtmlRequiredTitleElement -->
<head>
  <div th:insert="fragments/_header.html :: header-reminder"></div>
</head>

<body>
<main>

  <div th:insert="fragments/_header.html :: header-nav"></div>

  <div class="container">

    <h1>Список адресатов</h1>

    <table class="list-table">
      <tr>
        <th nowrap="nowrap">ID</th>
        <th nowrap="nowrap">Электронная почта</th>
        <th nowrap="nowrap">Действия</th>
      </tr>

      <tr th:each="destination : ${destinations}">

        <td th:utext="${destination.id}"></td>
        <td th:utext="${destination.email}"></td>

        <td>
          <a th:href="@{'/destination/unsubscribe/' + ${destination.email}}">
            <button class="btn btn-outline-danger btn-sm">Удалить</button>
          </a>
        </td>

      </tr>
    </table>

  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-4 mt-1">
        <a th:href="@{/destination/subscribe}">
          <button class="btn btn-primary btn-sm">Подписать адресанта</button>
        </a>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 mt-1">
        <a th:href="@{/destinations/remind}">
          <button class="btn btn-primary btn-sm">Отправить почту</button>
        </a>
      </div>

    </div>

  </div>

</main>
</body>
</html>