<!DOCTYPE HTML>
<!--suppress HtmlUnknownTag -->
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="eng">

<head>
    <title>Ошибка</title>
    <div th:insert="fragments/_header.html :: header-reminder"></div>
</head>

<body>
<main>

    <div th:insert="fragments/_header.html :: header-nav"></div>

    <div class="container">
        <h1 th:text="${apiExceptionResponse} ? ${apiExceptionResponse.status} : '404 Not_Found'"></h1>
        <h5 th:text="${apiExceptionResponse} ? ${apiExceptionResponse.errorMessage}: 'Страница не найдена'"></h5>
        <a th:href="@{/}">Вернуться на главную</a>
    </div>

</main>
</body>
</html>

